<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DataViewer_v2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DataViewer_v2.Properties.Settings>
      <setting name="file_amount" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="file_name" serializeAs="String">
        <value>gymnastics</value>
      </setting>
      <setting name="hash_index" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="added_index" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="name_index" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="dob_index" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="year_index" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="phone_index" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="email_index" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="details_index" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="contact_index" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="archive_index" serializeAs="String">
        <value>9</value>
      </setting>
    </DataViewer_v2.Properties.Settings>
  </userSettings>
</configuration>
